# Environments
.env
.venv
venv/
ENV/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# SQLite (if used locally)
*.sqlite3
test_login.html
